In [2]:
#This dataset attributes first names to genders, giving counts and probabilities. It combines open-source government data from the US, UK, Canada, and Australia.
import pandas as pd
data1=pd.read_csv("name_gender_dataset.csv")
data2=pd.read_csv("world_name.csv")

In [8]:
data1_100F=data1[data1["Gender"]==("F")]["Name"].head(100)
data1_100M=data1[data1["Gender"]==("M")]["Name"].head(100)
data2_100F=data2["F First names"]
data2_100M=data2["M First names"]

In [9]:
#Q1 與另一筆資料比對，另一筆資料為全世界學生最常取的英文名字前100名，兩筆資料中最多人取的前100名的男生女生姓名中，是否有重複的
s1=set(data1_100F)
s2=set(data1_100M)
s3=set(data2_100F)
s4=set(data2_100M)
s1&s3
#以下為女生姓名相同的

{'Alice',
 'Amanda',
 'Amber',
 'Amy',
 'Andrea',
 'Anna',
 'Ashley',
 'Charlotte',
 'Elizabeth',
 'Emily',
 'Emma',
 'Grace',
 'Hannah',
 'Jennifer',
 'Jessica',
 'Julia',
 'Julie',
 'Kelly',
 'Laura',
 'Lauren',
 'Lisa',
 'Madison',
 'Maria',
 'Marie',
 'Mary',
 'Megan',
 'Melissa',
 'Michelle',
 'Natalie',
 'Nicole',
 'Olivia',
 'Rachel',
 'Rebecca',
 'Samantha',
 'Sara',
 'Sarah',
 'Stephanie',
 'Tiffany',
 'Victoria'}

In [10]:
s2&s4
#以下為男生姓名相同的

{'Aaron',
 'Adam',
 'Alexander',
 'Andrew',
 'Anthony',
 'Arthur',
 'Austin',
 'Benjamin',
 'Brandon',
 'Brian',
 'Charles',
 'Christian',
 'Christopher',
 'Daniel',
 'David',
 'Dylan',
 'Eric',
 'Ethan',
 'Gabriel',
 'George',
 'Henry',
 'Jack',
 'Jacob',
 'James',
 'Jason',
 'John',
 'Jonathan',
 'Jordan',
 'Jose',
 'Joseph',
 'Joshua',
 'Justin',
 'Kevin',
 'Kyle',
 'Louis',
 'Mark',
 'Matthew',
 'Michael',
 'Nathan',
 'Noah',
 'Patrick',
 'Paul',
 'Peter',
 'Richard',
 'Robert',
 'Ryan',
 'Samuel',
 'Steven',
 'Thomas',
 'Tyler',
 'Vincent',
 'William'}

In [12]:
#Q2 有那些名字第一筆資料(US, UK, Canada, and Australia)有，但是第二筆(全世界)資料沒有的名字
s1-(s1&s3)
#以下為女生

{'Abigail',
 'Angela',
 'Ann',
 'Barbara',
 'Betty',
 'Beverly',
 'Brenda',
 'Brittany',
 'Carol',
 'Carolyn',
 'Catherine',
 'Cheryl',
 'Christina',
 'Christine',
 'Cynthia',
 'Danielle',
 'Deborah',
 'Debra',
 'Denise',
 'Diana',
 'Diane',
 'Donna',
 'Doris',
 'Dorothy',
 'Evelyn',
 'Frances',
 'Gloria',
 'Heather',
 'Helen',
 'Jacqueline',
 'Jane',
 'Janet',
 'Janice',
 'Jean',
 'Joan',
 'Joyce',
 'Judith',
 'Judy',
 'Karen',
 'Katherine',
 'Kathleen',
 'Kathryn',
 'Kimberly',
 'Lillian',
 'Linda',
 'Margaret',
 'Marilyn',
 'Martha',
 'Mildred',
 'Nancy',
 'Pamela',
 'Patricia',
 'Rose',
 'Ruth',
 'Sandra',
 'Sharon',
 'Shirley',
 'Susan',
 'Teresa',
 'Theresa',
 'Virginia'}

In [13]:
s2-(s2&s4)
#以下為男生

{'Alan',
 'Albert',
 'Billy',
 'Bruce',
 'Bryan',
 'Carl',
 'Dennis',
 'Donald',
 'Douglas',
 'Edward',
 'Eugene',
 'Frank',
 'Fred',
 'Gary',
 'Gerald',
 'Gregory',
 'Harold',
 'Harry',
 'Howard',
 'Jeffrey',
 'Jeremy',
 'Jerry',
 'Jesse',
 'Joe',
 'Juan',
 'Keith',
 'Kenneth',
 'Larry',
 'Lawrence',
 'Logan',
 'Nicholas',
 'Philip',
 'Ralph',
 'Randy',
 'Raymond',
 'Roger',
 'Ronald',
 'Roy',
 'Russell',
 'Scott',
 'Sean',
 'Stephen',
 'Terry',
 'Timothy',
 'Walter',
 'Wayne',
 'Willie',
 'Zachary'}

In [14]:
#Q3#Q2 有那些名字第一筆資料(US, UK, Canada, and Australia)沒有，但是第二筆(全世界)資料有的名字
s3-(s1&s3)
#以下為女生

{'Abby',
 'Alexandra',
 'Alicia',
 'Alyssa',
 'Amandine',
 'Amélie',
 'Anaïs',
 'Audrey',
 'Camille',
 'Caroline',
 'Chloé',
 'Cindy',
 'Claire',
 'Clara',
 'Clémence',
 'Célia',
 'Céline',
 'Elisa',
 'Elise',
 'Ellie',
 'Elodie',
 'Emilie',
 'Eva',
 'Fanny',
 'Inès',
 'Jade',
 'Jasmine',
 'Jenny',
 'Juliette',
 'Justine',
 'Kate',
 'Katie',
 'Kayla',
 'Kim',
 'Lee',
 'Lily',
 'Louise',
 'Lucie',
 'Lucy',
 'Léa',
 'Léna',
 'Manon',
 'Margaux',
 'Marina',
 'Marine',
 'Marion',
 'Mathilde',
 'Maéva',
 'Morgane',
 'Mélanie',
 'Nina',
 'Noémie',
 'Océane',
 'Pauline',
 'Sabrina',
 'Sofia',
 'Sophia',
 'Sophie',
 'Taylor',
 'Vanessa',
 'Zoe'}

In [15]:
s4-(s2&s4)
#以下為男生

{'Adrien',
 'Alex',
 'Alexandre',
 'Alexis',
 'Ali',
 'Antoine',
 'Axel',
 'Ben',
 'Carlos',
 'Chris',
 'Clement',
 'Emmanuel',
 'Florian',
 'Guillaume',
 'Hugo',
 'Ibrahim',
 'Isaac',
 'Jake',
 'Josh',
 'Joé',
 'Julien',
 'Jérémy',
 'Kim',
 'Lee',
 'Leo',
 'Lucas',
 'Luke',
 'Martin',
 'Mathieu',
 'Matt',
 'Max',
 'Maxime',
 'Mike',
 'Mohamed',
 'Nick',
 'Nicolas',
 'Park',
 'Pierre',
 'Quentin',
 'Romain',
 'Sam',
 'Simon',
 'Theo',
 'Tom',
 'Tony',
 'Tristan',
 'Valentin',
 'Victor'}